<!DOCTYPE html>
<html lang="en">
<head>
	<title>Lab 3</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	
</head>
<body>

	<div class="row">

		<div class="">

			<h1><span class=""></span> Signup</h1>

			<form action="/register" method="post">
				<div class="">
					<label>Email</label>
					<input type="text" class="" name="email">
				</div>
				<div class="">
					<label>Password</label>
					<input type="password" class="" name="password">
				</div>

				<button type="submit" class="">Signup</button>
			</form>

			<hr>

			<p>Already have an account? <a href="/login">Login</a></p>
			<p>Or go <a href="/">home</a>.</p>

		</div>
	</div>
	<script type="text/javascript" src="./js/modernizr.js"></script>
</body>
</html>