<h2>Here's your sales reports for this year</h2>
<div class="row">
  <div class="small-6 columns">
  <div ac-chart="chartType" ac-data="data" ac-config="config" id='chart' class='chart'></div></br>
   </div>
<div class="small-6 columns">  
<table>
	<thead>
		<tr>
			  <th>Year, month</th>
			  <th>Locks sold</th>
			  <th>Stocks sold</th>
			  <th>Barrels sold</th>
			  <th>Total sales</th>
			  <th>Commission</th>
		</tr>
	</thead>	
	<tbody ng-repeat="(key,value) in reportSalesDates">
		<tr>
		  <td><em>{{key}}</em></td>
		  <td><em>{{value.LocksSold}}</em></td>
		  <td><em>{{value.StocksSold}}</em></td>
		  <td><em>{{value.BarrelsSold}}</em></td>
		  <td><em>${{totalLocalSales('reportSalesDates',key)}}</em></td>
		  <td>${{calculateCommission('reportSalesDates', key, totalLocalSales('reportSalesDates',key))}}</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td>Total:</td>
			<td>{{totalItemsSold('Locks')}}</td>
			<td>{{totalItemsSold('Stocks')}}</td>
			<td>{{totalItemsSold('Barrels')}}</td>
			<td>${{totalSales()}}</td>
			<td>${{totalCommission()}}</td>
		</tr>
	</tfoot>
</table></div></div>

<div class="row">
<div class="small-6 columns"> <div ac-chart="chartType2" ac-data="data2" ac-config="config2" id='chart2' class='chart'></div></div>
 <div class="small-6 colums"><table>
 	<thead>
 		<tr>
 			  <th>User</th>
 			  <th>Locks sold</th>
 			  <th>Stocks sold</th>
 			  <th>Barrels sold</th>
 			  <th>Total sales</th>
 			  <th>Commission</th>
 		</tr>
 	</thead>	
 	<tbody>
 		<tr ng-repeat="(key,values) in reportSalesAllUsers">
 		  <td><em>{{key}}</em></td>
 		  <td><em>{{values.LocksSold}}</em></td>
 		  <td><em>{{values.StocksSold}}</em></td>
 		  <td><em>{{values.BarrelsSold}}</em></td>
 		  <td><em>${{totalLocalSalesForUser(key)}}</em></td>
 		  <td>${{calculateCommissionForUser('reportSalesAllUsers', key, totalLocalSalesForUser(key))}}</td>
 		</tr>
 	</tbody>
 	<tfoot>
 		<tr>
 			<td>Total:</td>
 			<td>{{totalItemsSold('Locks')}}</td>
 			<td>{{totalItemsSold('Stocks')}}</td>
 			<td>{{totalItemsSold('Barrels')}}</td>
 			<td>${{totalSales()}}</td>
 			<td>${{totalCommission()}}</td>
 		</tr>
 	</tfoot>
 </table></div></div>
 <!--<div ac-chart="chartType" ac-data="data" ac-config="config" id='chart' class='chart'></div> -->
